body{
    margin: 0px;
    padding: 0px;
    
}


body{
    background-image: url(https://pbs.twimg.com/media/EMyCziHWkAAiBgQ?format=jpg&name=4096x4096);
    background-size: cover;
    
}

.header{
    background-color:rgb(3, 3, 3);
    height: 80px;
    margin: 10px;
}

nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px;
}

ul li a{
    letter-spacing: 0.1rem;
    width:90px;
    padding:5px 10px;
    text-decoration:none;
    font-family:Arial;
    color: #f7f4f4;
    text-align:center;
}

ul li a:hover{
    color: #867a0c;  
    text-decoration: underline;
    background: rgba(179, 174, 174, 0.836);
    transition: 0.5s;
    text-transform: capitalize;
}

.menu li{
    float: right;
    padding: 15px;
}

.logo li{
    float:left;
    padding: 15px;
}

.homepage {
    background-image:url();
}
main {
    padding: 5rem;
    font-size:large;
    text-align:center;
    margin: 1rem   
}

.title {
    color:rgb(37, 114, 7);
    text-transform: capitalize;
    font-weight: 400;
    font-style:oblique;
}

.introduction {
    line-height: 1.5;
    width:30%;
    text-align:justify;
    text-indent: 20px;
    float:left;
      
}
.aims{
    line-height: 1.5;
    width:20%;
    text-align:justify;
    text-indent: 20px;
    float:inline-start; 
}

.objectives{
    line-height: 1.5;
    width:30%;
    text-align: justify;
    text-indent: 20px;
    float: right;  
     
}
